* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

.header-link {
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

.header-button {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.header-button:hover {
    background: #6FB000;
    transition: 0.5s;
}

img {
    margin: 163px 0 0 121px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 45px;
    margin-bottom: 55px;
}

.main-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
}

.main-link:hover {
    color: #6FB000;
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header-link {
        display: none;
    }

    .header-button {
        height: 31px;
        width: 91px;
        font-size: 12px;
        line-height: 18px;
        margin: 17px 355px;
    }

    img {
        width: 312px;
        height: 288px;
        position: absolute;
        top: 80%;
    
    }

    h1 {
        margin: 124px 55px 0px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        width: 278px;
    }

    p {
        margin: 29px 43px 0;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        width: 304px;
    }

   .main-link {
        margin: 26px 138px;
        text-align: center;
    }
}